MYSQL_ROOT_PASSWORD=rootpassword

DATABASE_URL=mysql://root:rootpassword@localhost:3307/hessbnb

# Keycloak (pour les microservices)
KEYCLOAK_ISSUER=http://localhost:8080/realms/hessbnb
KEYCLOAK_JWKS_URL=http://localhost:8080/realms/hessbnb/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=
