infra/.env

target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml
*.iws
*.ipr
.vscode/
.project
.classpath
.settings/

node_modules/
dist/
.angular/
.sass-cache/

.DS_Store
Thumbs.db

postgres_data/
infra/database/data/
