<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <h1>HessBnb</h1>
        </div>
        <div class="navbar-auth">
            <div ngbDropdown class="d-inline-block">
                <button class="user-icon-btn" type="button" ngbDropdownToggle aria-label="Menu utilisateur">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                </button>
                <div ngbDropdownMenu *ngIf="isAuthenticated">
                    <label class="dropdown-header">{{ fullName }}</label>
                    <div class="dropdown-divider"></div>
                    <button ngbDropdownItem (click)="logout()" class="dropdown-item">
                        Déconnexion 
                    </button>
                </div>
                <div ngbDropdownMenu *ngIf="!isAuthenticated">
                    <button class="dropdown-item" (click)="login()">Connexion</button>
                </div>
            </div>
        </div>
    </div>
</nav>