.card-title {
    margin-bottom: 0px;
    font-size: x-large;
    font-weight: 700;
}

#list-location{
    padding: 3%;
}

.col {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
}

.card-subtitle {
    color: rgb(0 0 0 / 66%);
    padding-bottom: 20px;
}

.card-button {
    width: 100%;
    border-radius: 0;
    padding: 10px;
    font-weight: 600;
}